.projects {
  height: fit-content;
  padding: 75px 0 20px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #fafafa;
  color: var(--text-color);
}

.projects h1 {
  margin: auto;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem auto 0;
  align-items: center;
  width: 90vw;
  max-width: 850px;
  background-color: #fafafa;
}

.project {
  width: 100%;
  max-height: max-content;
  cursor: pointer;
  padding: 0 0 20px;
  max-width: 280px;
  aspect-ratio: 16 / 9;
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.project-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  border-radius: 5px 5px 0 0;
}

.project-title {
  font-size: 0.9rem;
  margin: 0;
}
.project-description {
  font-size: 0.7rem;
  margin: 0.4rem;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--text-color);
  border-radius: 50%;
  color: #fff;
  transition: 0.2s;
}

.project-link:hover {
  background-color: var(--primary-color);
  scale: 1.1;
}

.tooltip {
  font-size: 0.7rem !important;
}
