.about {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  max-height: 1500px;
  text-align: center;
}

.about-wrapper {
  height: fit-content;
  width: fit-content;
  margin: 4.5rem auto;
}

.section-title {
  letter-spacing: 5px;
  word-spacing: 10px;
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-family: source sans pro;
  text-transform: uppercase;
  position: relative;
}

.section-title::after {
  content: "";
  width: 40px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 10px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.section-subtitle {
  margin-top: 3rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.about-content {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: clamp(0.7rem, 10vw, 3rem);
  gap: clamp(1rem, 10vw, 6rem);
}

.about-me-title {
  letter-spacing: 3px;
  word-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.about-me-text {
  text-align: left;
  max-width: 400px;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}

.my-skills {
  display: flex;
  max-width: 400px;
  width: 90vw;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: fit-content;
  font-size: 2rem;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.1rem;
  animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.06);
  }
}

.contact-btn {
  display: block;
  background-color: var(--primary-color);
  color: #fff;
  max-width: 180px;
  border: none;
  font-size: clamp(0.8rem, 1.1vw, 1rem);
  padding: 1rem 0.1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 1.5rem 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.contact-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 745px) {
  .about {
    padding: 0 20px;
  }

  .about-content {
    gap: 4rem;
  }

  .about-me-title {
    margin: 0 0 1.2rem;
  }

  .btn {
    margin-top: 2rem;
  }

  .contact-btn {
    margin: 1.5rem auto;
  }

  .section-subtitle {
    margin-top: 2rem;
  }
}
