.contact {
  height: fit-content;
  padding-top: 4.5rem;
  text-align: center;
  margin: 0 clamp(0.3rem, 2vw, 2rem);
  background-color: #fafafa;
  color: var(--text-color);
}

.contact-wrapper {
  box-sizing: border-box;
  width: 90vw;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  min-width: 350px;
  height: fit-content;
  margin: 4rem auto;
  padding: 1.5rem 3rem;
  z-index: -999;
}

.contact-header {
  margin: 0 0 3rem 0;
  color: var(--primary-color);
  font-weight: 300;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins";
  gap: 1.22rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form .input,
textarea {
  border: none;
  padding: 0.3rem 1.5rem;
  border-radius: 2px;
  min-width: 280px;
  width: 90%;
  min-height: 40px;
  resize: none;
  background-color: #f7f5f9;
  color: #0f0f0f;
  font: clamp(0.5rem, 2vw, 0.8rem);
}

.form .input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  font: clamp(0.6rem, 2vw, 0.9rem) "poppins";
}

.input:focus,
textarea:focus {
  outline: none;
  font: clamp(0.6rem, 2vw, 0.9rem) "poppins";
}

.form textarea {
  min-height: 120px;
  padding: 1.2rem 1.5rem;
}

.form-submit-btn {
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: 0.2s;
  position: relative;
  border: none;
}

.form-submit-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Sweet alert styling */

.swal-modal {
  max-width: 300px;
}

.swal-icon {
  scale: 0.7;
}

.swal-text,
.swal-title {
  color: var(--text-color);
}

.swal-button {
  background-color: var(--primary-color);
}

@media screen and (max-width: 745px) {
  .contact-wrapper {
    margin: 1rem auto;
  }

  .contact-header {
    margin: 0 0 1rem 0;
  }
}
