nav {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: rgb(255, 255, 255);
  font-family: poppins;
  font-size: 0.9rem;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 989;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
  max-width: 1920px;
  padding: 0 5rem;
}

.logo {
  color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}

.logo:hover {
  color: var(--secondary-color);
}

/* .my-photo {
  max-width: 30px;
} */

.nav-list {
  display: flex;
  color: var(--primary-color);
  gap: 2.4rem;
}

.nav-item {
  list-style: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #3f3f59;
  transition: 0.3s ease-in-out;
  position: relative;
  padding: 0 2px;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: 0.4s;
}

.nav-link:hover:after {
  left: 0;
  width: 100%;
}

/* .nav-link:focus {
  color: var(--primary-color);
}

.nav-link:focus:after {
  left: 0;
  width: 100%;
} */
.menu-icon {
  scale: 1.2;
  display: none;
}

.icon {
  color: var(--primary-color);
  font-size: 1.5rem;
}

@media screen and (max-width: 745px) {
  nav {
    height: 60px;
  }
  .nav-list {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    align-items: center;
    top: 0;
    gap: 3rem;
    right: -100%;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    padding: 90px 0;
    transition: all 0.5s ease;
  }

  .nav-active {
    top: 0;
    right: 0;
    visibility: visible;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    z-index: 999;
  }

  .nav-items-wrapper {
    padding: 0 2rem;
  }
}
