@media screen and (max-width: 1120px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 745px) {
  .hero {
    max-height: 800px;
  }

  .about {
    padding: 0 20px;
  }

  .about-content {
    gap: 4rem;
  }

  .about-me-title {
    margin: 0 0 1.2rem;
  }

  .btn {
    margin-top: 1.5rem;
    padding: 8px 0;
  }

  .contact-btn {
    margin: 1.5rem auto;
  }

  .section-subtitle {
    margin-top: 2rem;
  }
}
