html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #5207CC;
  --secondary-color: #5207ccca;
  --text-color: #3f3f59;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}